@mixin boxPost($maxUserImgW, $minUserImgW, $maxImgPost, $minImgPost, $maxWidthPost, $minWidthPost) {
    //post box size
    .post-box{
        margin-top: 3rem;
        margin-left: 2rem;
        width: 100%;
        max-width: $maxWidthPost;
        min-width: $minWidthPost;
        border-radius: 1%;
        background-color: #242526;
        color:white;
        .box-body{
            padding: 1rem;
            textarea{
                width: 100%;
                border-radius: 1%;
            }
        }
        .box-header{
            padding: 1rem;
        } 
        .box-footer{
            padding: 1rem;
            padding-bottom :1rem;
            display: flex;
            justify-content: end;
            a{
                text-decoration: none;
                margin-left: 1rem;
            }
        }   
        .box-body p{
            display: flex;
            justify-content: start;
        }
        //for post image
        .box-body img{
            width: 100%;
            max-width: $maxImgPost;
            min-width: $minImgPost;
            object-fit: cover;
            margin-bottom: 5px;
        }
        // for user profile image
        .box-body span img{
            width: 100%;
            max-width: $maxUserImgW;
            min-width: $minUserImgW;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

