


<div class="notification-container">
    {{#each friendS as |fs key|}}
    <div class="container-body">
        <div class="container-img">
            <img src="{{notificationInfoImg ../userS key}}" alt="{{notificationInfoName ../userS key}} image">
        </div>
        <div class="container-text">
            <h1>Name: {{notificationInfoName ../userS key}}</h1>
            <h2>User: {{notificationInfoUserName ../userS key}}</h2>
        </div>
        <div class="container-button">
            <a href="" class="btn btn-danger">delete</a>
            <a href="" class="btn btn-success">view</a>
        </div>
    </div>
    {{/each}}
</div>