<main>
    <section class="text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold text-primary mt-4">Activar Usuario</h1>
                <p class="lead text-white">Te damos la bienvenidad a nuestra red social, para poder iniciar sesión e
                    interarctuar con nuestros usuarios pulsa el boton de activar mostrado a continucación
                </p>
                <p>
                    <a class="btn btn-lg btn-primary mt-5" onclick="Alert2('/active-user/{{user}}', 'success', '¡Listo!', 'Tú usuario ha sido activado satisfactoriamente')">✅ Activar Usuario</a>
                </p>
            </div>
        </div>
    </section>
</main>